**/bin/
output/
hw3
hw3_gdb
*.o
log/
log_bak/
results/
test_experiments/seeds/
*.json
tmp/
seeds/

#docs
AI_experiments.md
Arguments.md
experiment.md
Experiments_Design.md
FastSAconfig.csv
GMSconfig.csv
ORIGINALconfig.csv
Problem.md
README_BACKUP.md